services:
  postgres:
    image: postgres:16
    container_name: medistock-postgres
    restart: always
    environment:
      POSTGRES_USER: medistock_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: medistock_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin

volumes:
  postgres_data:
